<footer>
    <div class="footer-links">
        <div class="into-footer-links">
            <div class="grid-footer">
                <div class="title-footer">
                    ABOUT EDUCON
                </div>
                <div class="link-footer">
                    23621 15 mile Rd
                </div>
                <div class="link-footer">
                    48035, New York, USA
                </div>
            </div>
            <div class="grid-footer">
                <div class="title-footer">
                    COURSES
                </div>
                <div class="link-footer">
                    Forms and Admision materials
                </div>
                <div class="link-footer">
                    Guidance Documents
                </div>
            </div>
            <div class="grid-footer">
                <div class="title-footer">
                    RESOURCES
                </div>
                <div class="link-footer">
                    Forms and Admision materials
                </div>
                <div class="link-footer">
                    Guidance Documents
                </div>
            </div>
            <div class="grid-footer">
                <div class="title-footer">
                    NEWSLETTER
                </div>
                <div class="link-footer">
                    Enter your email and we'll send you more information of courses.
                </div>
            </div>
        </div>
    </div>
    <div class="footer-privacy">
        © COPYRIGHT EDUCON 2017, DESIGN & DEVELOPMENT BY THEMEUM
    </div>
</footer>
