<nav>
    <div class="into-nav">
        <a href="#" class="main-logo">
            <img src="./assets/logo.png" alt="logo">
            <div class="button-responsive" (click)=" propiedades.pulsado = !propiedades.pulsado">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
        <div class="content-links" [ngClass]="{ 'links-visible': propiedades.pulsado, '': !propiedades.pulsado }">
            <span class="selected">
                <a href="#" class="nav-link">HOME</a><i class="fas fa-angle-down"></i>
            </span>
            <span>
                <a href="#" class="nav-link">PAGES</a><i class="fas fa-angle-down"></i>
            </span>
            <span>
                <a href="#" class="nav-link">COURSES</a><i class="fas fa-angle-down"></i>
            </span>
            <a href="#" class="search-link"><img src="./assets/lupa.jpg" alt="search"></a>
        </div>
    </div>
</nav>
