$widthCanvas: 87%;
$colorRed: #f40725;
$colorGray: #a2a2a2;
$colorWhite: white;
$colorBlueOne: #1f232f;
$colorBlueTwo: #1b1e27;
$simpleGray: #f9f9f9;
$mediumGray: #c5c5c5;
$fontSans: 'Open Sans', sans-serif;
$fontSmall: 14px;
$fontMedium: 17px;
$fontSemiBig: 20px;
$fontUltraBig: 60px;
$simple: 0.2s ease-in;
